
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', Arial, sans-serif;
  text-decoration: none;
}

.searchbar-section{
    margin-top: 20px;
    justify-content: center !important; 
}

#logo img {
   width: 100%;       
  height: auto;
  object-fit: contain;
  justify-content: center;

   @media (min-width:1024px) {
   min-width: 100%;
    height:200px;
    
  }
}

body {
  background-color: #717171c7 0.2;
  color: #363636;
  line-height: 1.4;
  text-align: left; /* links uitlijnen */
  padding: 0 1rem; 
  font-size: 18px;
}

.styleguide-form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;


& label {display: block;}


input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
}
nav {
  display: none;
  background-color: #005F61;
  flex-direction: column;
  gap: 8px;
  padding: 1em;
  border-radius: 4px;
  width: 100%;
  z-index: 10;

  @media (min-width: 1024px) {
    display: flex ;
    flex-direction: row;
    justify-content: center;
    background: #005F61
;
  }
}

nav a:hover {
  background: rgba(255, 255, 255, 0.2);
}

#menu-checkbox:checked + nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  

  @media (min-width: 768px){
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0.5em 1em;
    justify-items: center;
  }

  @media (min-width:1024px) {
    
    display: flex;
    flex-direction: row;
    jusstify-content: space-around;
    gap: 100px;
  }
}

nav li {
  list-style: none;
  gap: 1rem;
  display: flex;
  
}

nav a {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 8px 0;
  display: block;
  border-radius: 4px;
  font-size: 0.9rem;
}

nav a:hover {
  background: #e9e8e8 0.2;
}


.form-wrapper {
  max-width: 3;
  margin: 40px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0,0,0,1);
}

.form-wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #005F61;
}


.styleguide-form textarea {  
    width: 1200px;      
 min-width: 80%;
  padding: 10px;
  font-size: 16px;
}
footer {
  background-color: #005F61
;
  color: white;
  border-radius: 4px;
  margin-top: 40px;
  padding: 20px 10px;

  @media (min-width: 768px) {
       padding: 30px 40px;

  }

  @media (min-width: 1024px) {

  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.links h2 {
  font-weight: bold;
  text-align: center;
}

.links a {
  color: white;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}