
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  text-decoration: none;
}

.searchbar-section{
    margin-top: 20px;
    justify-content: center !important; 
}

#logo img {
   width: 100%;       
  height: auto;
  object-fit: contain;
  justify-content: center;

   @media (min-width:1024px) {
   min-width: 100%;
    height:200px;
    
  }
}

body {
  /* background-color: rgba(113 113 113 / 0.78); */
  color: #363636;
  line-height: var(--line-height);
  text-align: left; /* links uitlijnen */
  padding: 0 1rem; 
  font-size: var(--font-size-m);
}


.styleguide-form{
  border-radius: var(--border-radius);
  background-color: var(--white-color);
  padding: 20px;


& label {display: block;}


input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

input[type=submit] {
  
  color:var(--white-color);
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
}
nav {
  display: none;
  background-color:var(--primary-color);
  flex-direction: column;
  gap: 8px;
  padding: 1em;
  border-radius: 4px;
  width: 100%;
  z-index: 10;
  

  @media (min-width: 1024px) {
    display: flex ;
    flex-direction: row;
    justify-content: space-evenly;
    background: var(--primary-color);
  }
}

nav li:hover {
  background: var( --primary-lighter-color);
  border-radius:var(--border-radius);
}

#menu-checkbox:checked + nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  

  @media (min-width:768px){
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0.5em 1em;
    justify-items: center;
  }

  @media (min-width:1024px) {
    
    display: flex;
    flex-direction: row;
    jusstify-content: space-around;
    gap: 220px;
  }
}

nav li {
  list-style: none;
  gap: 1rem;
  display: flex;
  justify-content: center;
  
}

nav a {
  color: var(--white-color);
  font-weight: bold;
  text-align: center;
  padding: 8px 0;
  display: block;
  border-radius: var(--border-radius);
  font-size: var(--font-size-s)
}

nav a:hover {
  background: var(--white-color) 0.2;
}


.form-wrapper {
  max-width: 3;
  margin: 40px auto;
  background: var(--white-color);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 3px 10px rgba(0,0,0,1);
}

.form-wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}


.styleguide-form textarea {  
    width: 1200px;      
 min-width: 80%;
  padding: 10px;
  font-size: var(--font-size-s)
}
footer {
  background-color:var(--primary-color);
  color: var(--white-color);
  border-radius: var(--border-radius);
  margin-top: 40px;
  padding: 20px 10px;

  @media (min-width: 768px) {
       padding: 30px 40px;

  }

  @media (min-width: 1024px) {

  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.links h2 {
  font-weight: bold;
  text-align: center;
}

.links a {
  color: var(--white-color);
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}