
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: var(--font-family);
  text-decoration: none;
}

body {
  background-color: #717171c7 0.2;
  color: #363636;
  
  text-align: left; /* links uitlijnen */
  padding: 0 1rem; 
  font-size: 18px;
}


header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
}

#logo img {
   width: 100%;       
  height: auto;
  object-fit: contain;
  justify-content: center;

   @media (min-width:1024px) {
   min-width: 100%;
    height:200px;
    
  }
}


.menu-toggle {
  display: block;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;

  @media (min-width: 1024px) {
    display: none;
    max-width: 0%;
  }
}


#menu-checkbox {
  display: none;
}


nav {
  display: none;
  background-color:var(--primary-color);
  flex-direction: column;
  gap: 8px;
  padding: 1em;
  border-radius: var(--border-radius);
  width: 100%;
  z-index: 10;
  

  @media (min-width: 1024px) {
    display: flex ;
    flex-direction: row;
    justify-content: space-evenly;
    background: var(--primary-color);
  }
}

nav li:hover {
  background: var( --primary-lighter-color);
  border-radius:var(--border-radius);
}

#menu-checkbox:checked + nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  

  @media (min-width:768px){
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0.5em 1em;
    justify-items: center;
  }

  @media (min-width:1024px) {
    
    display: flex;
    flex-direction: row;
    jusstify-content: space-around;
    gap: 220px;
  }
}

nav li {
  list-style: none;
  gap: 1rem;
  display: flex;
  justify-content: center;
  
  
}

nav a {
  color: var(--white-color);
  font-weight: bold;
  text-align: center;
  padding: 8px 0;
  display: block;
  border-radius: var(--border-radius);
  font-size: var(--font-size-s)
}

nav a:hover {
  background: var(--white-color) 0.2;
}


/* ========== SEARCHBAR ========== */
.search-ad{
margin-top: 20px;
    display: flex;
    justify-content: center;
}
#search-button{
    margin-top: 20px;
 }

.artikel-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-items: center;
  padding: 2rem 0;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    
  }

}

.artikel-list h2, .artikel-list p{

  @media (max-width: 500px) {
   font-size:var(--font-size-s) ;
    
  }
   @media (max-width: 900px) {
   font-size:var(--font-size-m) ;
    
  } 
}


main p, main h1{
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
main p{
  line-height: var(--line-height-text);
  font-size: var(--font-size-l);
}

main h1{
  line-height: var(--line-height-heading);
  font-size: var(--font-size-heading-l);
  color: var(--primary-color);
}
.artikel-list li {

  border-radius: 8px;
  width: 100%;
  max-width: 700px;
  height: 400px;
  margin-top: 40px;
  overflow: hidden;
  transition: transform 0.2s ease;
  font-size: var(--font-size-l);
}
.artikel-list li:hover{
    transform: scale(1.02);
}
.artikel-list li:has(a:focus){
      transform: scale(1.02);
}
.artikel-list li a:hover, .artikel-list a:focus {

  background-color: var(--accent-color);
}

.artikel-list a {
    background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
  color: var(--white-color);
  text-decoration: none;
}

.artikel-list p {
  line-height: var(--line-height-text);
 margin-bottom: 8rem;
  
}


footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 4px;
  margin-top: 40px;
  padding: 20px 10px;

  @media (min-width: 768px) {
       padding: 30px 40px;

  }

  @media (min-width: 1024px) {

  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.links h2 {
  font-weight: bold;
  text-align: center;
}

.links a {
  color: var(--white-color);
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}



